body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Media/seamless_mini_b_619d7ee4-d17f-48a2-891b-e32efb65e92c.png");
    background-size: 40%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'TUIVEN Trial';
    src: url('../Media/TUIVEN-Trial.ttf');
}

#pirata-one-regular {
    font-family: "TUIVEN Trial";
    font-weight: 400;
    font-style: normal;
}

#navbar {
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    z-index: 1;
    box-shadow: inset 0px 100px 30px 0px rgba(0,0,0,0.8);
}
  
.navContainer {
    display: flex;
    font-size: 28px;
    gap: 1.5em;
    padding: 2em 3em 0em 3em;
    width: 90%;
    margin: 0 auto;
}

#home svg {
    fill: #FFF;
    height: 1.5em;
}

.mobile-container {
    width: 100%;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: "TUIVEN Trial";
    font-weight: 400;
    font-style: normal;
    display: block;
}
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav a svg {
    height: 0.8em;
    fill: #FFF;
}
  
.topnav a:hover svg {
    fill:#F1A438;
}
  
.topnav a:hover {
    color: #F1A438;
}
  
.activated {
    background-color: #000;
    color: white;
}

.navbar-pages a, .navbar-socials a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-pages {
    margin-left: auto;
    display: flex;
    gap: 1.5em;
}

.navbar-socials {
    display: flex;
    gap: 0.5em;
}

.navContainer a:hover {
    color: #F1A438;
}

#home svg:hover {
    fill: #F1A438;
}

.container:hover, .container :hover img {
    opacity: 1;
    filter: drop-shadow(2px 2px 4px #F1A438);
    }

.active {
    background-color: #000;
    padding: 1.8em 0.7em 0.5em 0.7em;
    margin-top: -4%;
    }
    
    .active svg {
    height: 4em;
    fill: #FFF;
    }

.active svg:hover {
    fill:#F1A438;
}

.active img {
    height: 6em;
}

h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

h1 span {
    font-size: 1.2em;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 5em;
    gap: 3em;
}

.opening .rowOne {
    display: flex;
    flex-direction: row;
}

.opening .welcomeText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
}

.welcomeText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}


.rowOne {
    display: flex;
    width: 90%;
    gap: 1.5em;
}

.rowOne img {
    width: 100%;
}

.rowOne h2 {
    text-align: left;
    font-size: 1.5em;
}

.rowOne h3 {
    text-align: left;
    font-size: 7em;
}

.rowTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
}

.table {
    width: 80%;
}

.openingHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-image: url("../Media/manWandering.jpg");
    background-size: 1920px;
    background-repeat: no-repeat;
    padding-top: 20em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}


.width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 2em;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.lineDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.headerAbout {
    height: 1.6em;
}

.headerH2 h2 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    display: flex;
    align-items: row;
}

.headerH3 h3 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.5em;
    width: 25%;
    font-family: "TUIVEN Trial";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.tablink:hover {
    background-color: #777;
}
  
.tabcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
    height: 100%;
    width: auto;
    padding: 5.5em 2em 2em 2em;
}

.tabcontent .rowOne {
    width: 100%;
}

.tabcontent .rowOne img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: block;
}

.rowOne .welcomeText h2 {
    font-size: 2em;
}

.rowOne .welcomeText h3 {
    font-size: 6em;
}

.tabcontent .rowOne h2 {
    font-size: 2em;
}

.tabcontent .rowOne h3 {
    font-size: 6em;
}

.tabcontent .rowOne p {
    font-size: larger;
}

.table {
    box-sizing: border-box;
}
  
#Explore {background-color: #151B25;}
#Build {background-color: #151B25;}
#Craft {background-color: #151B25;}
#Cooperate {background-color: #151B25;}

/* Style the tab */

.mobileMenu {
    display: none;
    margin-bottom: 4em;
}

.menuContainer {
    background-color: #151B25;
    width: 80%;
    padding: 1em;
}

.menuContainer h3 i {
    color: #c2770e;
}

.menuContainer p {
    color: #FFF;
}

.menuContainer img {
    width: 100%;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #fff;
} 

.opening ul {
    list-style-image: url('../Media/diamond.svg');
    color: #FFF;
    font-size: 1.3em;
}

.opening ul li {
    margin: 0.7em 0;
}

body h2 i {
    color: #c2770e;
} 

.headerH2 h2 { 
    text-transform: uppercase;
    font-size: 3em;
    color: #FFF;
    text-align: center;
} 

.socials h2 {
    text-transform: uppercase;
    font-size: 2.5em;
}
  
.socials h2 span {
    font-size: 1.5em;
    line-height: 80%;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5em;
  }
  
  h2 span {
    font-size: 1.5em;
    line-height: 80%;
  }
  

h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

h4 {
    margin-top: 3em;
    color: #c2770e;
    font-size: larger;
}

.socials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em 0em;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 50em;
    background-image: url("../Media/Dragon.png");
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
  }
  
  .socialsImage {
    width: 100%;
  }
  
  .socialText {
    width: 30%;
  }
  
  .socialText h2 {
    margin: 0;
    padding: 0;
  }
  
  .socials p {
    color: white;
    font-size: large;
    margin: 0;
    padding: 0;
  }
  
  .socialsSection {
    display: flex;
    flex: 2 1;
    justify-content: center;
    align-items: center;
    gap: 8em;
  }
  
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5em;
    gap: 0.5em;
  }
  
  .container {
    position: relative;
    width: 2.3em;
    height: 2.5em;
  }

.opening p {
    color: white;
    font-size: large;
}

.introText {
    width: 40%;
}

#image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

#text p {
    margin-top: -3%;
}

footer {
    background-color: white;
    width: 100%;
}

footer p {
    color: #000;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em 0em;
}

.headerDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.7em;
    letter-spacing: 0em;
}

.headerDivider i {
    color: #FFF;
}

.socialsSection {
    display: flex;
    gap: 8em;
}

.icons {
    display: flex;
    font-size: 4.5em;
    gap: 0.5em;
}

.container {
    position: relative;
    width: 2.3em;
    height: 2.5em;
    }

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    opacity: 0.3;
}

.container, a, button {
    cursor: pointer;
}

.container:hover, .container :hover img {
    opacity: 1;
    filter: drop-shadow(2px 2px 4px #F1A438);
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    bottom: -15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16em;
    fill: #000;
    color: #000;
}

.logoSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Media/Controller-background.png");
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo svg {
    width: 45%;
    height: auto;
    fill: #000;
    padding: 6% 3% 0% 3%;
}

.logo:hover svg, .logo:hover {
    fill: #c2770e;
    color: #c2770e;
    cursor: pointer;
}

.logoBrand {
    text-transform: uppercase;
    font-size: 2em;
}

.logoComp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.71em;
    gap: 2.5em;
}

.footbar a:hover {
    color: #c2770e;
}

.footnav {
    display: flex;
    gap: 1em;
    width: 100%;
    padding: 6em 0em 2em 0em;
    justify-content: center;
    font-size: 1.3em;
}

.footnav a {
    font-family: "TUIVEN Trial";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #000;
    text-decoration-line: none;
}

.footnav span {
    color: #c7c5ca;
}

.credits {
    width: 100%;
    background-color: #e9e4e0;
    padding: 1em 0em;
}

.credits a {
    color: #c2770e;
}

.credits a:hover {
    text-decoration: none;
    color: #c2770e;
}

.footbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 1550px) {

    .section h2 {
     font-size: 1.5em;
    }
  
    .section h2 span {
      font-size: 2em;
    }
  
    .socials h2 {
      font-size: 1.5em;
     }
   
     .socials h2 span {
       font-size: 2em;
     }
  
    .container {
      width: 2.093em;
      height: 2.275em;
    }
    
    .icons {
      font-size: 3.15em;
      gap: 0.5em;
    }
  
  }

  @media screen and (max-width: 1508px) {

    .welcomeText {
        width: 90%;
    }

    .tabcontent .rowOne h2 {
        font-size: 1.5em;
    }
    
    .tabcontent .rowOne h3 {
        font-size: 4em;
    }

    .rowOne .welcomeText h2 {
        font-size: 1.5em;
    }
    
    .rowOne .welcomeText h3 {
        font-size: 4em;
    }

    .opening .rowOne {
        display: flex;
        flex-direction: column;
    }
    
    .Map {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .Map img {
        width: 70%;
    }

    

  }

  @media screen and (max-width: 1469px) {

    .rowOne {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opening .welcomeText {
        width: 80%;
    }

    .Map img {
        width: 70%;
    }

  }
  
  
  @media screen and (max-width: 1234px) {
  
    .socialsSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 2em;
    }
  
    .socials {
      padding: 7em 0em;
    }
  
    .logoSVG {
      background-size: 36.4%;
    }
    
    .logo svg {
      width: 31.5%;
      padding: 6% 3% 0% 3%;
    }
  
    .logoBrand {
      font-size: 1.5em;
    }
    
    .logoComp {
      font-size: 0.65em;
      gap: 2em;
    }
  
    .socialText {
      width: 40%;
    }
  
  
  }
  
  @media screen and (max-width: 1024px) {
  
    .opening {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 6em;
      width: 100%;
    }
  
    .opening p {
      padding: 2% 0% 3% 0%;
    }
  
    .mobile-container {
      display: block;
    }
  
    #navbar {
      display: none;
    }
  
    .section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 2em;
    }
  
    #text h2 {
      text-align: center;
    }
  
    #text {
      align-items: center;
      width: 70%;
    }
  
    #text p {
      font-size: 0.9em;
    }
  
    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .mobileMenu {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3em;
    }

    .rowTwo {
        display: none;
    }

    .socials {
      padding: 6em 0em;
    }
  
    .socials h2 {
      text-align: center;
    }
  
    .socialsSection {
      width: 100%;
      gap: 2em;
    }
  
    .socialText {
      gap: 1.5em;
      width: 70%;
    }
  
    .socialText p {
      font-size: 0.9em;
    }
  
    .footnav {
      display: flex;
      gap: 1em;
      width: 100%;
      padding: 4.5em 0em 2em 0em;
      justify-content: center;
      font-size: 1.3em;
    }
  
  }
  
  @media screen and (max-width: 750px) {
  
    .openingText {
      width: 90%;
      justify-content: center;
      flex-direction: column;
    }
  
    .socialText {
      width: 90%;
    }
  
    #text {
      width: 90%;
    }
  
    .opening p {
      padding: 2% 0% 5% 0%;
    }
  
    .container {
      width: 1.90463em;
      height: 2.07025em;
    }
    
    .icons {
      font-size: 2.205em;
      gap: 0.5em;
    }
  
    .height {
    width: 50vw;
    }
  
  }

  @media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    .menuContainer {
        background-color: #151B25;
        width: 90%;
        padding: 1em;
    }

  }
  
  @media screen and (max-width: 450px) {
  
    .height {
    width: 90vw;
    }
  }
  
  