body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("Media/seamless_mini_b_619d7ee4-d17f-48a2-891b-e32efb65e92c.png");
  background-size: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'TUIVEN Trial';
  src: url('Media/TUIVEN-Trial.ttf');
}

.pirata-one-regular {
  font-family: "TUIVEN Trial";
  font-weight: 400;
  font-style: normal;
}

#navbar {
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  z-index: 1;
  box-shadow: inset 0px 100px 30px 0px rgba(0,0,0,0.8);
}

.navContainer {
  display: flex;
  font-size: 28px;
  gap: 1.5em;
  /* padding: 2em 3em 0em 3em;  */
  width: 90%;
  margin: 0 auto;
}

#home svg {
  fill: #F1A438;
  height: 1.5em;
}

.active {
  background-color: #000;
  padding: 1.8em 0.7em 0.5em 0.7em;
  margin-top: 0;
}

.navbar-pages a, .navbar-socials a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-pages {
  align-items: center;
  margin-left: auto;
  display: flex;
  gap: 1.5em;
}

.navbar-socials {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.navContainer a:hover {
  color: #F1A438;
}

#home svg:hover {
  fill: #F1A438;
}

.mobile-container {
  width: 100%;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
  display: none;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 1;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "TUIVEN Trial";
  font-weight: 400;
  font-style: normal;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a svg {
  height: 0.8em;
  fill: #FFF;
}

.topnav a:hover svg {
  fill:#F1A438;
}

.topnav a:hover {
  color: #F1A438;
}

.activated {
  background-color: #000;
  color: white;
}

.container:hover, .container :hover img {
  opacity: 1;
  filter: drop-shadow(2px 2px 4px #F1A438);
}

.active svg {
  height: 4em;
  fill: #FFF;
}

.active svg:hover {
  fill:#F1A438;
}

.active img {
  height: 6em;
}

h1 {
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
}

h1 span {
  font-size: 7vw;
  line-height: 80%;
}

.opening {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 2.5em;
}

#openingImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 60%;
  filter: drop-shadow(5px 5px 5px #000000)
}

.openingText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.openingP {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.openingText h1 {
  margin: 0;
  padding: 0;
}

.opening p {
  color: white;
  font-size: large;
  width: 90%;
  margin: 0;
  padding: 2% 0%;
}

.button {
  background-color: #F1A438;
  border: none;
  color: #0B0B10;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  text-transform: uppercase;
  font-family: "TUIVEN Trial";
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  width: max-content;
}

.button:hover {
  border: #F1A438 3px solid;
  background-color: #0B0B10;
  color: #F1A438;
}

.paddingButton {
  padding: 5% 0%;
}

.section {
  padding: 2% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  background-color: #121212;
  gap: 2%;
  width: 100%;
}

.section p {
  color: white;
  font-size: large;
  margin: 0;
  padding: 0;
}

#image {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#image img {
  width: 100%;
}

#text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.description {
  width: 90%;
}

.section h2 {
  margin: 0%;
  padding: 0%;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5em;
}

h2 span {
  font-size: 1.5em;
  line-height: 80%;
}

h3 {
  text-transform: uppercase;
  font-size: 42px;
}

.socials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em 0em;
  flex-direction: column;
  color: white;
  width: 100%;
  background-image: url("Media/Dragon.png");
  background-repeat: no-repeat;
}

.computer {
  display: block;
}

.mobile {
  display: none;
}

.socialsImage {
  width: 100%;
}

.socialText {
  width: 30%;
}

.socialText h2 {
  margin: 0;
  padding: 0;
}

.socials p {
  color: white;
  font-size: large;
  margin: 0;
  padding: 0;
}

.socialsSection {
  display: flex;
  flex: 2 1;
  justify-content: center;
  align-items: center;
  gap: 8em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  gap: 0.5em;
}

.container {
  position: relative;
  width: 2.3em;
  height: 2.5em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  opacity: 0.3;
}

.container, a, button {
  cursor: pointer;
}

.container a {
  color: #FFF;
}

.container:hover, .container :hover img {
  opacity: 1;
  filter: drop-shadow(2px 2px 4px #F1A438);
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  bottom: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16em;
  fill: #000;
  color: #000;
}

.logoSVG {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Media/Controller-background.png");
  background-size: 52%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo svg {
  width: 45%;
  height: auto;
  fill: #000;
  padding: 6% 3% 0% 3%;
}

.logo:hover svg, .logo:hover {
  fill: #c2770e;
  color: #c2770e;
  cursor: pointer;
}

.logoBrand {
  text-transform: uppercase;
  font-size: 2em;
}

.logoComp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.71em;
  gap: 2.5em;
}

footer {
  background-color: white;
  width: 100%;
}

footer p {
  color: #000;
}

.footbar a:hover {
  color: #c2770e;
}

.footnav {
  display: flex;
  gap: 1em;
  width: 100%;
  padding: 6em 0em 2em 0em;
  justify-content: center;
  font-size: 1.3em;
}

.footnav a {
  font-family: "TUIVEN Trial";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-decoration-line: none;
}

.footnav span {
  color: #c7c5ca;
}

.credits {
  width: 100%;
  background-color: #e9e4e0;
  padding: 1em 0em;
}

.credits a {
  color: #91590b;
  font-weight: bold;
}

.credits a:hover {
  text-decoration: none;
  color: #91590b;
}

.footbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1550px) {

  .section h2 {
   font-size: 1.5em;
  }

  .section h2 span {
    font-size: 2em;
  }

  .socials h2 {
    font-size: 1.5em;
  }
 
   .socials h2 span {
     font-size: 2em;
  }

  .container {
    width: 2.093em;
    height: 2.275em;
  }
  
  .icons {
    font-size: 3.15em;
    gap: 0.5em;
  }

  #text p {
    font-size: 0.9em;
  }

  #text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}


@media screen and (max-width: 1234px) {

  .socialsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
  }

  .socials {
    padding: 7em 0em;
  }

  .logoSVG {
    background-size: 36.4%;
  }
  
  .logo svg {
    width: 31.5%;
    padding: 6% 3% 0% 3%;
  }

  .logoBrand {
    font-size: 1.5em;
  }
  
  .logoComp {
    font-size: 0.65em;
    gap: 2em;
  }

  .socialText {
    width: 40%;
  }

}

@media screen and (max-width: 1024px) {

  .opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    width: 100%;
  }

  .openingText {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .openingText p {
    font-size: 0.9em;
    width: 100%;
  }

  .openingText h1 {
    font-size: 2em;
    text-align: center;
  }

  .openingText h1 span {
    font-size: 1.5em;
  }

  .opening img {
    display: none;
  }

  .opening p {
    padding: 2% 0% 3% 0%;
  }

  .mobile-container {
    display: block;
  }

  #navbar {
    display: none;
  }

  .section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 2em;
  }

  #text h2 {
    text-align: center;
  }

  #text {
    align-items: center;
    width: 70%;
  }

  .description {
    width: 100%;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .socials {
    padding: 6em 0em;
  }

  .socials h2 {
    text-align: center;
  }

  .socialsSection {
    width: 100%;
    gap: 2em;
  }

  .socialText {
    gap: 1.5em;
    width: 50%;
  }

  .socialText p {
    font-size: 0.9em;
  }

  .footnav {
    display: flex;
    gap: 1em;
    width: 100%;
    padding: 4.5em 0em 2em 0em;
    justify-content: center;
    font-size: 1.3em;
  }

}

@media screen and (max-width: 750px) {

  .openingText {
    width: 90%;
    justify-content: center;
    flex-direction: column;
  }

  .socialText {
    width: 60%;
  }

  #text {
    width: 90%;
  }

  .opening p {
    padding: 2% 0% 5% 0%;
  }

  .container {
    width: 1.90463em;
    height: 2.07025em;
  }
  
  .icons {
    font-size: 2.205em;
    gap: 0.5em;
  }

  .height {
  width: 50vw;
  }

}

@media screen and (max-width: 611px) {
  .computer {
    display: none;
  }
  
  .mobile {
    display: block;
  }

  .socials h2 span {
    font-size: 1.5em;
  }

  .socials h2 span.mobile-span {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
      float: none;
      display: block;
  }

  .socialText {
    width: 80%;
  }

}

@media screen and (max-width: 450px) {

  .height {
  width: 90vw;
  }
}

